body {
	background-color: #B5F4FF;
}

h1 {
	font-style: Helvetia;
}

header {
	background-color: #007bff;
	border-radius: 200px;
	padding: 4px;

}

a{
    color: white;
    text-decoration: none;
}

a:hover {
	color: black;
}

img {
	width: 300px;
	display: block;
	margin: auto;
	border-color: #007bff;
	box-shadow: 6px;

}

#contenido {
	padding: 26px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#contenido p {
	font-style: verdana;
	font-size: 23px;
}

#contenido h2 {
	font-size: 33px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1px;

}
